# Домашнее задание 2 

Необходимо реализовать схему, указанную в hw_diagram.pdf

## Описание таблиц 
PeopleStatus - Описание возможных статусов людей, которые есть в университете (Студент, Преподаватель).
Faculties - Описание факультетов, которые есть в университете (KIB, IT, и т.д.).
People - Информация о людях в университете (Имя, почта, ссылка на факультет, ссылка на статус).
Classes - Описание возможных классов в университете (название (Математический анализ) и ссылка на факультет).
Semesters - Справочник семестров факультета(например, Осень2016, '2016-01-01', '2016-12-31').
ClassesSchedule - Расписание классов (ссылки на семестр, преподавателя и курс, день недели, время начала).
StudentsSchedule - Таблица, описывающая, какой студент ходит на какой курс.

In [94]:
# Не забудьте настроить соединение!

## Создание таблиц
Напишет ниже скрипты по созданию таблиц с учетом всех внешних ключей.

In [8]:
%load_ext sql
%sql sqlite://

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

'Connected: @None'

In [9]:
%%sql
PRAGMA foreign_keys = ON;

 * sqlite://
Done.

[]

In [15]:
%%sql
drop table if exists Students_Schedule;
drop table if exists Classes_shedule;
drop table if exists Semesters;
drop table if exists Classes;
drop table if exists People;
drop table if exists Faculties;
drop table if exists Peoplestatus;
-------------------------------------People_status
drop table if exists Peoplestatus;
create table Peoplestatus
(
    id integer primary key, 
    status_name varchar(50)
);
-------------------------------------Faculties
drop table if exists Faculties;
CREATE TABLE Faculties 
(
    id integer primary key, 
    Faculty_name varchar(50)
);
-------------------------------------People
drop table if exists People;
CREATE TABLE People 
(
    id integer primary key, 
    Name varchar(50),
    Email varchar(100),
    fac_id integer,
    status_id integer,
    foreign key(status_id) references PeopleStatus(id),
    foreign key(fac_id) references  Faculties(id)
);
-------------------------------------Classes
drop table if exists Classes;
CREATE TABLE Classes 
(
    id integer primary key, 
    description varchar(50),
    fac_id integer,
    foreign key(fac_id) references  Faculties(id)
);

-------------------------------------Semesters
drop table if exists Semesters;
CREATE TABLE Semesters 
(
    id integer primary key, 
    shortname varchar(50),
    date_start integer,
    date_end integer
);
-------------------------------------Classes_shedule
drop table if exists Classes_shedule;
CREATE TABLE Classes_shedule 
(
    id integer primary key, 
    class_id ingeter,
    teacher_id ingeter,
    semester_id ingeter,
    week_day integer,
    time_start varchar(50),
    foreign key(class_id) references Classes(id),
    foreign key(teacher_id) references People(id),
    foreign key(semester_id) references Semesters(id)
);
------------------------------------Students_Schedule
drop table if exists Students_Schedule;
CREATE TABLE Students_Schedule
(
    student_id integer,
    classes_schedule_id integer,
    primary key (student_id,classes_schedule_id)
    foreign key (classes_schedule_id) references Classes_Shedule(id)
    foreign key (student_id) references People(id)
);

 * sqlite://
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.

[]

In [14]:
%%sql
insert Into Peoplestatus(id, status_name) VALUES (1, 'student');
insert Into Peoplestatus(id, status_name) VALUES (2, 'teacher');
insert Into Peoplestatus(id, status_name) VALUES (3, 'postgraduate');
insert Into Peoplestatus(id, status_name) VALUES (4, 'undergraduates');
---------------------------------------------------------------
insert Into Faculties(id, Faculty_name) VALUES (1, 'KIB');
insert Into Faculties(id, Faculty_name) VALUES (2, 'IT');
insert Into Faculties(id, Faculty_name) VALUES (3, 'Economics');
insert Into Faculties(id, Faculty_name) VALUES (4, 'TXT');
---------------------------------------------------------------
insert Into Semesters(id, shortname, date_start,date_end) VALUES (1, 'first', (01.09),(09.02));
insert Into Semesters(id, shortname, date_start,date_end) VALUES (2, 'second', (10.02),(31.09));
insert Into Semesters(id, shortname, date_start,date_end) VALUES (3, 'third',(1.09),(09.02));
---------------------------------------------------------------
insert Into Classes(id, description, fac_id) VALUES (1, 'Матан', 1);
insert Into Classes(id, description, fac_id) VALUES (2, 'Линал', 1);
insert Into Classes(id, description, fac_id) VALUES (3, 'Прога', 1);
insert Into Classes(id, description, fac_id) VALUES (4, 'БД', 1);
insert Into Classes(id, description, fac_id) VALUES (5, 'Дифуры', 1);
insert Into Classes(id, description, fac_id) VALUES (6, 'Дифгем', 1);
insert Into Classes(id, description, fac_id) VALUES (7, 'Методы Матана', 1);
insert Into Classes(id, description, fac_id) VALUES (8, 'Дискра', 1);
---------------------------------------------------------------
insert Into People(id, name, email, fac_id, status_id) values (1, 'Danya','danya@mail.ru', 1, 1);
insert Into People(id, name, email, fac_id, status_id) values (2, 'Tanya','tanya@mail.ru', 2, 3);
insert Into People(id, name, email, fac_id, status_id) values (3, 'Sanya','tanya@mail.ru', 3, 4);
insert Into People(id, name, email, fac_id, status_id) values (4, 'Stroganov Andrey Valentinovich','SAV@mail.ru', 1, 2);
insert Into People(id, name, email, fac_id, status_id) values (5, 'Kchalaev Timur Sultanovich','KTS@mail.ru', 1, 2);
insert Into People(id, name, email, fac_id, status_id) values (6, 'Shatina Albina Victorovna','SAV@mail.ru', 1, 2);
insert Into People(id, name, email, fac_id, status_id) values (7, 'Bakanchev Nikita I','BNI@mail.ru', 1, 2);
insert Into People(id, name, email, fac_id, status_id) values (8, 'Adamovich Olga Maratovna','AOM@mail.ru', 1, 2);
insert Into People(id, name, email, fac_id, status_id) values (9, 'Shelepin Alexey Leonidovich','ALSH@mail.ru', 1, 2);
insert Into People(id, name, email, fac_id, status_id) values (10, 'Parfenov Denis Vasilievich','PDV@mail.ru', 1, 2);
insert Into People(id, name, email, fac_id, status_id) values (11, 'Anya','Anya@mail.ru', 1, 1);
insert Into People(id, name, email, fac_id, status_id) values (12, 'Vanya','Vanya@mail.ru', 1, 1);
---------------------------------------------------------------
insert Into Classes_Shedule(id,class_id,teacher_id,semester_id,week_day,time_start) VALUES (1, 1, 9, 1, 1, '9:00');
insert Into Classes_Shedule(id,class_id,teacher_id,semester_id,week_day,time_start) VALUES (2, 4, 7, 1, 1, '10:30');
insert Into Classes_Shedule(id,class_id,teacher_id,semester_id,week_day,time_start) VALUES (3, 6, 1, 1, 1, '13:10');
insert Into Classes_Shedule(id,class_id,teacher_id,semester_id,week_day,time_start) VALUES (4, 8, 4, 1, 1, '14:50');
insert Into Classes_Shedule(id,class_id,teacher_id,semester_id,week_day,time_start) VALUES (5, 5, 5, 1, 1, '16:30');
insert Into Classes_Shedule(id,class_id,teacher_id,semester_id,week_day,time_start) VALUES (6, 7, 6, 1, 1, '18:00');
insert Into Classes_Shedule(id,class_id,teacher_id,semester_id,week_day,time_start) VALUES (7, 3, 10, 1, 2, '13:10');
---------------------------------------------------------------
insert Into Students_Schedule(student_id,classes_schedule_id) VALUES (1,1);
insert Into Students_Schedule(student_id,classes_schedule_id) VALUES (1,2);
insert Into Students_Schedule(student_id,classes_schedule_id) VALUES (1,3);
insert Into Students_Schedule(student_id,classes_schedule_id) VALUES (1,4);
insert Into Students_Schedule(student_id,classes_schedule_id) VALUES (1,5);
insert Into Students_Schedule(student_id,classes_schedule_id) VALUES (1,6);
insert Into Students_Schedule(student_id,classes_schedule_id) VALUES (1,7);
insert Into Students_Schedule(student_id,classes_schedule_id) VALUES (11,1);
insert Into Students_Schedule(student_id,classes_schedule_id) VALUES (11,3);
insert Into Students_Schedule(student_id,classes_schedule_id) VALUES (11,5);
insert Into Students_Schedule(student_id,classes_schedule_id) VALUES (11,4);
insert Into Students_Schedule(student_id,classes_schedule_id) VALUES (12,2);
insert Into Students_Schedule(student_id,classes_schedule_id) VALUES (12,7);
insert Into Students_Schedule(student_id,classes_schedule_id) VALUES (12,3);
insert Into Students_Schedule(student_id,classes_schedule_id) VALUES (12,6);

 * sqlite://
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
Done.
1 rows affected.
1 rows affected.
1 rows affected.
Done.
1 rows affected.
1 rows affected.
Done.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
Done.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
Done.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
Done.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.

[]